.right-bar {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.profile-space {
    display: flex;
    img {
        border-radius: 100%;
        width: 55px;
    }
}

.name-nickname {
    display: flex;
    flex-direction: column;
}

