.left-bar{
width: 15%;
    

.left-bar-content {
    position: fixed;
    padding: 30px 70px 30px 30px;
    border-right: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    .insta-logo{
        width: 150px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 21px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    h3 {
        margin-top: 400px;
    }
}