.left-bar{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: solid 1px black;
    padding-right: 150px;
    
    .insta-logo{
        width: 150px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 21px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    h3 {
        margin-top: 400px;
    }
}