.left-bar{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .insta-logo{
        width: 150px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 21px;
    }
    h3 {
        margin-top: 400px;
    }
}